@model CityList

<p>
    <a asp-action="CityAdd">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                    @Model.citys.Count;
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.citys) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
}
    </tbody>
</table>
