@model IEnumerable<Database.Users>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Income)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone_nr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile_nr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsComany)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Company_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Show_email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Show_phone_nr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Show_mobile_nr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Show_location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Show_the_exact_address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Allow_send_me_messages)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.How_often_inform)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Which_time_inform)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Send_fovorite_update)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Send_history_update)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Send_comments_update)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Send_conversation_update)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Send_intrest_new_items_updates)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Send_notification_about_new_item_in_your_city)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Send_notification_about_intrest_in_your_item)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Send_notification_about_comment_on_your_item)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street_adress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Adverts_limit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Images_size_limit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Images_count_limit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Use_comment_limit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User_message_limit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User_favorite_items_limit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HasCompletedPersonalInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_vip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Is_banned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration_of_ban)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason_of_ban)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Education)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fk_City_Users)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile_nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show_phone_nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show_mobile_nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show_location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Show_the_exact_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allow_send_me_messages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.How_often_inform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Which_time_inform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Send_fovorite_update)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Send_history_update)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Send_comments_update)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Send_conversation_update)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Send_intrest_new_items_updates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Send_notification_about_new_item_in_your_city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Send_notification_about_intrest_in_your_item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Send_notification_about_comment_on_your_item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street_adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adverts_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Images_size_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Images_count_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Use_comment_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_message_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_favorite_items_limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasCompletedPersonalInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_vip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_banned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration_of_ban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason_of_ban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fk_City_Users)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
