@model Database.items
@inject Database.Context service
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h3 style="padding-top:15px">Pridėti naują skelbimą</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" required />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group none">
                    <label asp-for="Created" class="control-label"></label>
                    <input asp-for="Created" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />
                    <span asp-validation-for="Created" class="text-danger"></span>
                </div>
                <div class="form-group none">
                    <label asp-for="Updated" class="control-label"></label>
                    <input asp-for="Updated" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />
                    <span asp-validation-for="Updated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" required />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Report_likes" /> @Html.DisplayNameFor(model => model.Report_likes)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ReportAboutComment" /> @Html.DisplayNameFor(model => model.ReportAboutComment)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Report_about_offer" /> @Html.DisplayNameFor(model => model.Report_about_offer)
                        </label>
                    </div>
                </div>
                <div class="form-group none">
                    <label asp-for="Visited_times" class="control-label"></label>
                    <input asp-for="Visited_times" class="form-control" value="0" />
                    <span asp-validation-for="Visited_times" class="text-danger"></span>
                </div>
                <div class="form-group none">
                    <label asp-for="Received_offers" class="control-label"></label>
                    <input asp-for="Received_offers" class="form-control" value="0" />
                    <span asp-validation-for="Received_offers" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status"></label>
                    <select asp-for="Status" class="form-control">
                        @{
                            foreach (var data in service.GetStatuses())
                            {
                                <option asp-for="Status" value="@data.Id">@data.Name </option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fk_Category_Items"></label>
                    <select asp-for="fk_Category_Items" class="form-control">
                        @{
                            foreach (var data in service.GetCategorys())
                            {
                                <option asp-for="fk_Category_Items" value="@data.id">@data.Name </option>
                            }
                        }
                    </select>
                    <span asp-validation-for="fk_Category_Items" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="fk_User_Items"></label>
                    <select asp-for="fk_User_Items" class="form-control">
                        @{
                            foreach (var data in service.GetUsers())
                            {
                                <option asp-for="fk_City_Users" value="@data.id">@data.Name + @data.LastName + @data.UserName </option>
                            }
                        }
                    </select>
                    <span asp-validation-for="fk_User_Items" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <h4>Paveilėlių sarašas</h4>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Aukštos kokybės img adresas
                        </th>
                        <th>
                            Žemos kokybes img adresas
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="data">
                    @foreach (var item in service.GetImages().Where(x => x.fk_Item_Images == 0))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Image_thumbnail)
                            </td>
                            <td>
                                <a data2="@Html.DisplayFor(modelItem => item.Image_thumbnail)" data="@Html.DisplayFor(modelItem => item.Image)" href="#" class="edit" id="@item.id">Edit</a> |
                                <a href="#" class="delete" id="@item.id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <div class="form-group">
                    <label class="control-label">Aukštos kokybės img adresas</label>
                    <input id="Image" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Žemos kokybes img adresas	</label>
                    <input id="Image_thumbnail" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group none">
                    <label class="control-label"></label>
                    <input id="fk_Item_Images" class="form-control" />
                    <span class="text-danger"></span>
                </div>
                <div class="form-group" id="update">
                    <input type="submit" name="sitebg" id="imageInsert" value="Pridėti paveikslėlį" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script>
        $(document).ready(function () {

            $('body').delegate('.delete', 'click', function () {
                var id = $(this).attr("id");
                $.ajax({
                    url: "/items/Remove",
                    dataType: 'json',
                    contentType: "application/json",
                    type: "POST",
                    data: JSON.stringify(id),
                    success: function (response) {
                        $(this).parent().parent().remove();
                    },
                    failure: function (response) {
                        alert("Įvyko kritinė klaida");
                    },
                    error: function (response) {
                        alert("Įvyko klaida");
                    }
                });
                $(this).parent().parent().remove();
            });

            $('body').delegate('.edit', 'click', function () {
                var data = $(this).attr("data");
                var data2 = $(this).attr("data2");
                var id = $(this).attr("id");
                $('#Image').val(data);
                $('#Image_thumbnail').val(data2);
                $('#update').html("<input type=\"submit\" data2=" + data + " data=" + data2 + " name=\"sitebg\" imageid=\"" + id + "\" id=\"EditImage\" value=\"Atnaujinti\" class=\"btn btn-default\" />");
                $(this).parent().parent().remove();
            });
            $('#update').on("click", function () {
                if ($(this).children().attr("id") == "EditImage") {
                    var data = $('#Image').val();
                    var data2 = $('#Image_thumbnail').val();
                    var id = $(this).children().attr("imageid");
                    $('#update').html("<input type=\"submit\" name=\"sitebg\" id=\"imageInsert\" value=\"Pridėti paveikslėlį\" class=\"btn btn-default\" />");
                    $('#Image').val("");
                    $('#Image_thumbnail').val("");
                    var image =
                        {
                            Image: data,
                            Image_thumbnail: data2,
                            id: id
                        }

                    $.ajax({
                        url: "/items/EditImage",
                        dataType: 'json',
                        contentType: "application/json",
                        type: "POST",
                        data: JSON.stringify(image),
                        success: function (response) {
                            var data3 = "<tr><td >" + data + "</td><td>" + data2 + "</td><td><a data2=\"" + data + "\" data=\"" + data2 + "\" href=\"#\" id=\"" + response + "\" class=\"edit\">Redeguoti </a> |<a href=\"#\" id=" + response + "\" class=\"delete\">Delete</a></td></tr>";
                            $('#data').append(data3);
                        },
                        failure: function (response) {
                            alert("Įvyko kritinė klaida");
                        },
                        error: function (response) {
                            alert("Įvyko klaida");
                        }
                    });
                }
                else {
                    var data = $('#Image').val();
                    var data2 = $('#Image_thumbnail').val();
                    if (data.length > 0 && data2.length > 0) {
                        var image =
                            {
                                Image: data,
                                Image_thumbnail: data2,
                                id: 1
                            }
                        $.ajax({
                            url: "/items/GoodSave",
                            dataType: 'json',
                            contentType: "application/json",
                            type: "POST",
                            data: JSON.stringify(image),
                            success: function (response) {
                                var data3 = "<tr><td >" + data + "</td><td>" + data2 + "</td><td><a data2=\"" + data + "\" data=\"" + data2 + "\" href=\"#\" id=\"" + response + "\" class=\"edit\">Redeguoti </a> |<a href=\"#\" id=" + response + "\" class=\"delete\">Ištrinti</a></td></tr>";
                                $('#data').append(data3);
                                $('#Image').val("");
                                $('#Image_thumbnail').val("");
                            },
                            failure: function (response) {
                                alert("Įvyko kritinė klaida");
                            },
                            error: function (response) {
                                alert("Įvyko klaida");
                            }
                        });
                    }
                    else {
                        alert("užpildytite laukelius");
                    }
                 }
            });


        });
    </script>

</body>
</html>
