@model Database.items
@inject Database.Context service

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>items</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Updated)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Updated)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Report_likes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Report_likes)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ReportAboutComment)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ReportAboutComment)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Report_about_offer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Report_about_offer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Visited_times)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Visited_times)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Received_offers)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Received_offers)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => service.GetStatuses().First(x => x.Id == model.Status).Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.fk_Category_Items)
            </dt>
            <dd>
                @Html.DisplayFor(model => service.GetCategorys().First(x => x.id == model.fk_Category_Items).Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.fk_User_Items)
            </dt>
            <dd>
                @Html.DisplayFor(model => service.GetUsers().First(x => x.id == model.fk_User_Items).Name)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        <h4>Paveilėlių sarašas</h4>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Aukštos kokybės img adresas
                    </th>
                    <th>
                        Žemos kokybes img adresas
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="data">
                @foreach (var item in service.GetImages().Where(x => x.fk_Item_Images == Model.Id))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image_thumbnail)
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
