@model IEnumerable<Database.items>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Report_likes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReportAboutComment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Report_about_offer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Visited_times)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Received_offers)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fk_Category_Items)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fk_User_Items)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Updated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Report_likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportAboutComment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Report_about_offer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Visited_times)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Received_offers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fk_Category_Items)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fk_User_Items)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
